<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Award and Shows and Advertisement</h2>
                <hr class="light">
                <p class="text-faded">WHITE LEAF is a platform where awards and Promation are done and many new things get launch!</p>
                <a href="#" class="btn btn-default btn-xl">OUR DIVISION!</a>
            </div>
        </div>
    </div>
</section>
